<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.submissionremainder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Submission Reminder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".passwordactivity" />
        <activity android:name=".NewS"/>
        <activity android:name=".NewE" />
        <activity android:name=".NewG" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <activity android:name=".Admin" />
        <activity android:name=".Admin1" />
        <activity android:name=".NewG1" />
        <activity android:name=".NewS1" />
        <activity android:name=".discussion" />
        <activity android:name=".NewE1"></activity>
    </application>

</manifest>